
body {
    /* font-family: 'Arial', sans-serif; */
    /* background-color: #f0f2f5; */
}

.mi-clase-especial {
    border: 1px solid red;
}

/* Estilos para el contenido que viene de la base de datos (clase 'prose' de Tailwind) */
.prose h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.prose p {
    margin-bottom: 1em;
    line-height: 1.6;
}
